In [1]:
#operations
a=25
b=18
print("Addition = ",a+b)
print("Subtraction = ",a-b)
print("Multiplication = ",a*b)
print("Division = ",a/b)
print("Modulo = ",a%b)

Addition =  43
Subtraction =  7
Multiplication =  450
Division =  1.3888888888888888
Modulo =  7

In [2]:
#accessing_variables
a=25
b="python Django"
a=22
print("Value of a is ",a)
print("Value of b is ",b)

Value of a is  22
Value of b is  python Django

In [3]:
a=b=c=18
print(a)
print(b)
print(c)

18
18
18

In [4]:
#datatypes
x=1190
print(x, "is of type", type(x))

y="python"
print(y, "is of type", type(y))

z=1.1
print(z, "is of type", type(z))

a=1+2j 
print(a, "is of type", type(a))

print(x, "is int?", isinstance(11,int))
print(y, "is int?", isinstance("python",int))

1190 is of type <class 'int'>
python is of type <class 'str'>
1.1 is of type <class 'float'>
(1+2j) is of type <class 'complex'>
1190 is int? True
python is int? False

In [22]:
#strings
course="python"
print("Course is ",course)

#accessing through index
print(course[1])

#slicing 
print(course[0:3])
print(course[3:])
print(course[:5])

#repetition of string
print(course * 3)

#concatination
print(course + "Programming")

Course is  python
y
pyt
hon
pytho
pythonpythonpython
pythonProgramming

In [25]:
#lists
l1 = [11,2.3,"python",10,45,7.7,"programming",0.11]
print(l1)
print(type(l1))

#accessing through index
print(l1[5])

#slicing 
print(l1[3:6])
print(l1[6:])
print(l1[:4])

[11, 2.3, 'python', 10, 45, 7.7, 'programming', 0.11]
<class 'list'>
7.7
[10, 45, 7.7]
['programming', 0.11]
[11, 2.3, 'python', 10]

In [30]:
#tuples
t1 = (10,0.45,2,"python",789)
print(t1)
print(type(t1))

#accessing through index
print(t1[2])

#slicing 
print(t1[3:4])
print(t1[2:])
print(t1[:2])

(10, 0.45, 2, 'python', 789)
<class 'tuple'>
2
('python',)
(2, 'python', 789)
(10, 0.45)

In [38]:
#dictionary
d1={1:"python","k1":145, "k2":3, "k3":9.87, 2:"programming", "k4":2100, "k5":5.9}
print(d1)
print(type(d1))

#accessing through key
print(d1["k1"])

{1: 'python', 'k1': 145, 'k2': 3, 'k3': 9.87, 2: 'programming', 'k4': 2100, 'k5': 5.9}
<class 'dict'>
145